html{
    box-sizing: border-box;
  }
  *,*::before,*::after{
    box-sizing: inherit;
  }
  body{
    background-color: rgb(238, 238, 238);
    font-family: 'Open Sans', sans-serif;    
  }
  /** Header **/
  header { /* Este color se puede utilizar en la navegación con un poco mas claro 51 51 51*/
    background-color: rgb(33, 34, 37);
  }

  /** Contenido Principal **/
  div.contenido::after {
    content: '';
    display: block;
    clear: both;
  }
  main {
    width: 70%;
    float: left;
    padding-right: 40px;
  }
  aside {
    float: right;
    width: 30%;
  } 
  /** Main **/
  main::after {
    content: '';
    display: block;
    clear: both;
  }
  main div.texto {
    width: 60%;
    float: left;
    padding-right: 40px;
  }
  .button {
    background-color: rgb(33, 150, 243);
  }
  .button:hover{
    background-color: rgb(100, 181, 246);
  }
  main div.central {
    float: right;
    width: 40%;
  }
/** Div Central **/
main div.central::after {
  content: '';
  display: block;
  clear: both;
}
main div.central div.consola {
    width: 60%;
    float: top;
    padding-right: 40px;
}
main div.central div.check {
    float: bottom;
    width: 40%;
}
/** Footer **/
footer {
  background-color: rgb(39, 40, 44);
}
